<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DatabaseConfig" type="System.Configuration.DictionarySectionHandler" />
    <section name="DatabaseConfig_MYSQL" type="System.Configuration.DictionarySectionHandler" />
    <section name="DatabaseConfig_SQLSERVER" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <appSettings>
    <add key="DefaultTestsDBSuffix" value="MySql"/>
  </appSettings>
  <DatabaseConfig>
    <add key="vendor" value="inmemory" />
    <add key="server" value="" />
    <add key="port" value="" />
    <add key="database" value="" />
    <add key="username" value="" />
    <add key="password" value="" />
  </DatabaseConfig>
  <DatabaseConfig_MYSQL>
    <add key="vendor" value="MySql" />
    <add key="server" value="localhost" />
    <add key="port" value="" />
    <add key="database" value="habanero_test_trunk" />
    <add key="username" value="root" />
    <add key="password" value="root" />
  </DatabaseConfig_MYSQL>
  <DatabaseConfig_SQLSERVER>
    <add key="vendor" value="SqlServer" />
    <add key="server" value="localhost" />
    <add key="port" value="" />
    <add key="database" value="habanero_test_trunk" />
    <add key="username" value="sa" />
    <add key="password" value="sa" />
  </DatabaseConfig_SQLSERVER>
</configuration>