<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="DatabaseConfig" type="System.Configuration.DictionarySectionHandler"/>
	 </configSections>
	 
  <appSettings>
		<!--<add key="DBConnectString" value="data source=Core;database=WorkShopManagement;uid=sa;pwd=;" /> -->
	</appSettings>
	                     	
	<DatabaseConfig vendor="SQLServer" server="Core" database="WorkShopManagement" username="sa" password="" port=""/>
		
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
