body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

h1 {
	color: #888888;
	font-size:   24px;
	line-height: 16px;
	border-bottom:1px solid black;
	border-bottom-color:#888888;
	padding: 2px 0px 9px 0px;
}

h2 {
	color: black;
	font-size:   15px;
}

h3 {
	color: green;
	font-size:   15px;
}

h4 {
  padding: 2px 2px 2px 5px;
	border-top:1px solid black;
	background-color: #eeeeee;
	font-weight:bold;
	font-size: 13px;
}

.newstitle {
	font-weight:bold;
	font-size: 13px;
	color: #EA6F33;

}

.newsdate {
	font-weight:bold;
	font-size: 13px;
	color: #000000;
}

error {
	color: green;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #A0A0A0; text-decoration: underline; }
a:visited { color: #A0A0A0; text-decoration: underline; }
a:hover { color: #EA6F33; text-decoration: none; }

a.cat { color: #FFFFFF; text-decoration: none; font-size: 15px; }
a.cat:visited { color: #FFFFFF; text-decoration: none; }
a.cat:hover { color: #FFFFFF; text-decoration: none; }

a.subcat { color: #CC3333; text-decoration: none; font-size: 11px; }
a.subcat:visited { color: #CC3333; text-decoration: none }
a.subcat:hover { color: #CC3333; background-color:#E7E7E7; text-decoration: none }

.subheading {
	font-size: 18px;
	vertical-align: middle;
}

.article {
	font-size: 14px;
}

.fieldWithErrors {
  padding: 2px;
  background-color: #EA6F33;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 1px solid #C9562A;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #EEEEEE;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #EA6F33;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}


.cssnav
{
position: relative;
font-family: arial, helvetica, sans-serif;
background: url(/images/habanero/layout-buttongrey.gif) no-repeat;
white-space: nowrap;
display: block;
width: 150px;
height: 35px;
margin: 0;
padding: 0;
}

.cssnav a
{
display: block;
color: #FFFFFF;
font-size: 15px;
width: 150px;
height: 35px;
float: left;
text-decoration: none;
}

.cssnav img
{
width: 150px;
height: 35px;
border: 0
}

* html a:hover
{
visibility:visible
}

.cssnav a:hover img
{
visibility:hidden
}

.cssnav span
{
position: absolute;
left: 14px;
top: 9px;
margin: 0px;
padding: 0px;
cursor: pointer;
}

table.clarify {
	border: 1px solid #EA6F33;
	background-color: #FFF2E5;
}

td.sellingpoints {
	background-color: #EFEFEF;
	font-size:14px;
}

td.bottleneck {
	background-color: #EEEEEE;
	border-left:1px solid #808080;
	border-top:1px solid #808080;
	vertical-align:top;
}

td.bottlenecktext {
	font-size:15px;
	font-weight: bold;
	background-color: #EEEEEE;
	border-top:1px solid #808080;
	vertical-align:middle;
	width:100%;
}

td.bottleneckcontent {
	border-left:1px solid #808080;
	padding:20px;
}

td.solution {
	background-color: #EDF4ED;
	border-left:1px solid #808080;
	border-bottom:1px solid #808080;
	vertical-align:bottom;
}

td.solutiontext {
	font-size:14px;
	font-weight: bold;
	color: green;
	background-color: #EDF4ED;
	border-bottom:1px solid #808080;
	vertical-align:middle;
	width=100%;
}

td.sidebartop {
	background: url(/images/habanero/layout-sidebartop.jpg) no-repeat;
}

.toursteptitle {
	font-size:15px;
	font-weight:bold;
	padding:3px 3px 3px 3px;
}

.tourstepnum {
	color:#999999;
}

a.tourstep {
	font-size:10px;
}

.tourstepoff {
	font-size:10px;
}

.tourshortnames {
	padding: 0px 20px 0px 10px;
}

.tourcodeheader {
	background-color:#dddddd;
	padding: 2px 2px 2px 5px;
	border-bottom:1px solid #aaaaaa;
}

.tourcode {
	background-color:#eeeeee;
	padding: 1px 1px 1px 1px;
	font-family: "courier new",courier,verdana, arial, helvetica, sans-serif;
	font-size:12px;
}

td.tourbottom {
	background-image: url("/images/habanero/tour/tour-bottomfiller.jpg");
	background-repeat: repeat-x;		
	background-position: bottom center;
}

.downloaddescrip td {
	color:gray;
	font-size:10px;
	vertical-align: top;
}

td.downloaddescinfo {
	color:#555;
}

.tutorial a {
	text-decoration:underline;
}

.tutorial a:hover {
	text-decoration:none;
}

.tutorial pre {
	background-color: #F9F9F0;
}

p.tuthead {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	background-color: #ececec;
	height: 100%;
	padding: 5px 5px 5px 0px;
}

.tutcat {	
	color: black;
	padding: 0px 0px 0px 5px;
	width: 100%;
}

.tutpro {
	background-color: #98B598;
	color: white;
	padding: 5px;
}

.tutstd {
	background-color: #E5AB92;
	color: white;
	padding: 5px;
}

table.code {
  background-color: #EEEEEE;
  border-collapse: collapse;
  border-spacing: 0px;
  border-color: #EEEEEE;
  border: 1px;
}

td.codeclass {
  background-color: #EFEACB;
  padding:5px;
  font-size: 10px;
} 

td.codeitself {
  background-color: #F9F9F0;
  padding:2;
}

td.specclass {
  background-color: #F9F9F9;
  font-size:10pt;
  vertical-align: top;
}

a.specclasslink {
	text-decoration:none;
	color:black;
}

a.specclasslink:hover {
	text-decoration:none;
	color:black;
}

table.spec {
  font-family: "Courier New";
  font-size:10pt;
}

td.specname {
  border-right:1px solid silver; border-bottom:1px solid silver; border-left-color:silver; border-top-color:silver;
  vertical-align: top;
  width:120px;
  font-size:8pt;
}

td.specvalue {
  border-bottom:1px solid silver; border-left:1px solid silver; border-right-color:silver; border-top-color:silver;
  vertical-align: top;
  font-size:8pt;
}

td.specnamebottom {
  border-right:1px solid silver; border-bottom:0px solid silver; border-left-color:silver; border-top-color:silver;
  vertical-align: top;
  font-size:8pt;
}

td.specvaluebottom {
  border-bottom:0px solid silver; border-left:1px solid silver; border-right-color:silver; border-top-color:silver;
  vertical-align: top;
  font-size:8pt;
}

table.options {
}

td.options {
  font-size:8pt;
  vertical-align: top;
}


td.homecat {
	width: 360px;
	height: 200px;
	padding: 30px 20px 60px 20px;
	background-position: bottom left;
}

td.homecatdata {
	background: url(/images/habanero/home-category-data.jpg) no-repeat;
}

td.homecatobject {
	background: url(/images/habanero/home-category-object.jpg) no-repeat;
}

td.homecatpresent {
	background: url(/images/habanero/home-category-present.jpg) no-repeat;
}

td.homecatfirestarter {
	background: url(/images/habanero/home-category-firestarter.jpg) no-repeat;
}

td.watermark {
	background: url(/images/habanero/habanero-icon-watermark.jpg) no-repeat;
	background-position: top right;
}