USE [master]
GO
/****** Object:  Database [habanero_test_branch_2_3_2]    Script Date: 07/08/2009 15:04:05 ******/
CREATE DATABASE [habanero_test_branch_2_3_2] 
GO
USE [habanero_test_branch_2_3_2]
GO
/****** Object:  Table [dbo].[tbPersonTable]    Script Date: 07/08/2009 15:04:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPersonTable](
	[PersonID] [uniqueidentifier] NOT NULL,
	[Surname] [nchar](255) NOT NULL,
	[FirstName] [nchar](255) NULL,
 CONSTRAINT [PK_tbPersonTable] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
