<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="DatabaseConfig" type="System.Configuration.DictionarySectionHandler"/>
	</configSections>

	<DatabaseConfig>
		<add key="vendor" value=""/>
		<add key="server" value=""/>
		<add key="port" value=""/>
		<add key="database" value=""/>
		<add key="username" value=""/>
		<add key="password" value=""/>
	</DatabaseConfig>
</configuration>